body{
  font-family: sofia-pro,Roboto,Helvetica,Arial,sans-serif;
  background-color: #28303d;
  color:#fff;
}

.site-branding{
  width: 100%;
  text-align: center;
}

#primary{
  max-width: none;
  margin:auto;
}


.site-title {
background-color: #8c271e;
font-weight: bolder;
}

.site-header{
  padding-bottom:0;
}

.home .wp-block-cover{
  max-width: 100% !important;
  text-shadow: 2px 2px #000;
}

/* .home .p {
  font-size: 20px;
line-height: 32px;
} */

.fp-hero-title{
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  text-align:center;
}

.fp-hero-desc{
font-size: 20px;
line-height: 32px;
font-weight: 200;
text-align:center;
}

.fp-title{
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  padding: 0 10px 0 10px;
  margin-top:0;
}

.fp-p{
  font-size: 20px;
  line-height: 32px;
  font-weight: 200;
  padding-top: 1em;
}

.fp-list{
  font-size: 17px;
  line-height: 32px;
  font-weight: 200;
  padding: 0 10px 0 10px;
  padding-left: 15px;
	margin-top:1em;
}

.home .sp-tab__section_title_48{display:none;}

.fp-gradient-separator{
  color:#323338;
  background:linear-gradient(180deg, #222933 0%, rgba(249, 19, 19, 0) 67.54%);
  padding-top:64px;
  padding-bottom:0;
  max-width: 100%!important;
  margin: 2em 0 0 0;
}

/* tabs grades */
.sp-tabpro-wrapper_48 .sp-tab__nav{
position: sticky;
top: 0;
background-color: #28303d;
}

.home .su-spoiler-title{
  font-size: 20px !important;
  font-weight: 400 !important;
}

/* list checkmark bullet */

.list-checkmark {
	list-style: none;
	font-size:20px;
	padding-left:10px;
}

.list-checkmark  li {
	border-bottom: 1px solid #444444;
	padding:.5em 0 .5em 0;
}

.list-checkmark  li::before {
	font-family: 'Font Awesome 5 Free';
	content: "\f058";
	color: green;
	margin-right: 10px;
}

/* list cross bullet */

.list-cross {
	list-style: none;
	font-size:20px;
	padding-left:10px;
}
.list-cross  li {
	text-decoration-line: line-through;
	border-bottom: 1px solid #444444;
	padding:.5em 0 .5em 0;
}
.list-cross  li::before {
	font-family: 'Font Awesome 5 Free';
	content: "\f057";
	color: red;
	margin-right: 10px;
}

/* package price */

.package-price{
	text-align:center;
	color:#ffac33;
	margin:1em 0 1em 0;
	font-size:30px;
}

/* hide package tab title */
.sp-tab__section_title_130{display:none;}


.indicates-required{
	text-align:right;
}

#mc-embedded-subscribe{
	margin-top:1em;
}


.tab-list { /* list in tabs */
	padding-left:17px;
}

.p-br { /* line break paragraph */
	margin-top:1em;
}

.p-package{
	font-size:17px;
}
