body{
  font-family: sofia-pro,Roboto,Helvetica,Arial,sans-serif;
  background-color: #28303d;
}

.site-branding{
  width: 100%;
  text-align: center;
}

#primary{
  max-width: none;
  margin:auto;
}


.site-title {
background-color: #8c271e;
font-weight: bolder;
}

.site-header{
  padding-bottom:0;
}

.home .wp-block-cover{
  max-width: 100% !important;
  text-shadow: 2px 2px #000;
}

/* .home .p {
  font-size: 20px;
line-height: 32px;
} */

.fp-hero-title{
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  text-align:center;
}

.fp-hero-desc{
font-size: 20px;
line-height: 32px;
font-weight: 200;
text-align:center;
}

.fp-title{
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  padding: 0 10px 0 10px;
  margin-top:0;
}

.fp-p{
  font-size: 20px;
  line-height: 32px;
  font-weight: 200;
  padding-top: 1em;
}

.fp-list{
  font-size: 17px;
  line-height: 32px;
  font-weight: 200;
  padding: 0 10px 0 10px;
  padding-left: 15px;
	margin-top:1em;
}

.home .sp-tab__section_title_48{display:none;}

.fp-gradient-separator{
  color:#323338;
  background:linear-gradient(180deg, #222933 0%, rgba(249, 19, 19, 0) 67.54%);
  padding-top:64px;
  padding-bottom:0;
  max-width: 100%!important;
  margin: 2em 0 0 0;
}

/* tabs grades */
.sp-tabpro-wrapper_48 .sp-tab__nav{
position: sticky;
top: 0;
background-color: #28303d;
}

.home .su-spoiler-title{
  font-size: 20px !important;
  font-weight: 400 !important;
}

/* list checkmark bullet */

.list-checkmark {
	list-style: none;
	font-size:20px;
	padding-left:10px;
}

.list-checkmark  li {
	border-bottom: 1px solid #444444;
	padding:.5em 0 .5em 0;
}

.list-checkmark  li::before {
	font-family: 'Font Awesome 5 Free';
	content: "\f058";
	color: green;
	margin-right: 10px;
}

/* list cross bullet */

.list-cross {
	list-style: none;
	font-size:20px;
	padding-left:10px;
}
.list-cross  li {
	text-decoration-line: line-through;
	border-bottom: 1px solid #444444;
	padding:.5em 0 .5em 0;
}
.list-cross  li::before {
	font-family: 'Font Awesome 5 Free';
	content: "\f057";
	color: red;
	margin-right: 10px;
}

/* package price */

.package-price{
	text-align:center;
	color:#ffac33;
	margin:1em 0 1em 0;
	font-size:30px;
}

/* hide package tab title */
.sp-tab__section_title_130{display:none;}






/* ========= STARThomemade video cover with gif =========== */

.video-container {
  position: relative;
  top: 0;
  bottom: 0;
  width: 640px;
  height: 427px;
  overflow: hidden;
	margin:0;
}

.overlay {
  background-color:#00000029;
  opacity: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: 15% 32px;
  line-height: 1.5;
  text-align: center;
  :last-child { margin-bottom: 0; }
}

code { font-family: monospace; }
/* ========= END homemade video cover with gif =========== */




.fp-flexcontainer { /* container illustration + text */
  display: flex;
  	max-width: 80% !important;
	margin-top:0 !important;
}

.su-accordion { /* accordion SAT TOEFL... */
    margin-top: 1em;
	margin-bottom:0 !important;
}

@media only screen and (max-width: 600px) { /* on mobile */
	.fp-illustration{ /* hide illustration frontpage mobile view */
    	display:none;
  }
}

@media only screen and (min-width: 600px) { /*on NOT mobile */
	.fp-illustration {
		max-width: 300px;
	}

	.fp-flex-ill { /* flex div with img illustration */
	  width:300px;
	}

	.fp-flex-text{ /* flex div with text */
		display: flex;
    	justify-content: center;
    	flex-direction: column;
		padding-left: 3em;
	}
	.entry-content{
		margin-top:0;
	}
}

/* =============== Mailchimp embeded form =========== */

.indicates-required{
	text-align:right;
}

#mc-embedded-subscribe{
	margin-top:1em;
}

/* =============== start - Shortcodes ultimate tabs customize =========== */

.su-tabs-mobile-scroll .su-tabs-nav { /* sticky nav */
	position: -webkit-sticky !important;
	position: sticky !important;
	top: 0 !important;
	background-color: gray !important;
}

.su-tabs-pane { /* body tab bg color + text color + font size */
    background: #191e26!important;
	color: #d9d9d9!important;
	font-size: 15px!important;
}

.su-tabs-nav span.su-tabs-current { /* active tab */
    background: #191e26 !important;
	    font-size: 30px;
}

.su-tabs-mobile-scroll .su-tabs-nav { /* inactive tabs */
background-color: #28303d !important;
font-size: 30px;
}

.su-tabs-nav span:focus { /* clicked tab, remove outline on selection */
	outline:none !important;
}

.su-tabs-nav span{ /* right border tabs */
 border-right: 1px solid white;
}

.su-tabs { /* border of tabs */
	background: #28303d!important;
	max-width: 100% !important;
}

.su-tabs-nav span { /* color of tab labels */
	color: #fff!important;
}

/* =============== end - Shortcodes ultimate tabs customize =========== */

.tab-list { /* list in tabs */
	padding-left:17px;
}

.p-br { /* line break paragraph */
	margin-top:1em;
}

.p-package{
	font-size:17px;
}
